<script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/bootstrap-tagsinput.min.js"></script>
    <script src="/js/vue.min.js"></script>
    <script src="/js/socket.io.js"></script>
    <script> var socket = io('http://127.0.0.1:3000/'); </script>
    <script src="/js/scripts.js"></script>
</body>

</html>