<%- include('./layouts/header'); -%>

    <div class="container-fluid" id="app">
        
            <%- include('./layouts/parts/content-article.ejs'); -%>
    </div>
<%- include('./layouts/footer'); -%>